extends layout

block content
        .row.hypermasher-main
            .col-md-6.col-md-offset-3
                h2 About Hypermasher
                p.
                    Hypermasher is a continuous stream of the latest #[a(href="http://blog.instagram.com/post/95829278497/hyperlapse-from-instagram") Hyperlapse] videos on Instagram set to your choice of music from #[a(href="https://soundcloud.com/") SoundCloud]. 
                p. 
                    It was created by Andrew T. Baker #[a(href="http://andrewtorkbaker.com/funemployment") during his funemployment]. Andrew is a software developer based in Washington, DC who is taking time off between jobs to pursue his own technical interests. 

                p.
                    You can read more about Hypermasher #[a(href="http://andrewtorkbaker.com/hypermasher") in this blog post.] You can also keep up with Andrew on #[a(href="https://twitter.com/andrewtorkbaker") Twitter] or #[a(href="http://andrewtorkbaker.com/") his blog].
                p.
                    Andrew is very grateful for all the advice and Instagram expertise that #[a(href="http://instagram.com/caldwelllauren") caldwelllauren] brought to this project.

                h2 Frequently Asked Questions
                h3 Which videos appear on Hypermasher?
                p.
                    Hypermasher uses the #[a(href="http://instagram.com/developer") Instagram API] to pull in every video that is posted with the hashtag #[strong #hyperlapse].
                p.
                    Hypermasher always tries to show you the latest videos posted on Instagram, but sometimes there aren't enough new ones available. In that case, Hypermasher will mix in a few (slightly) older videos to keep the stream going.

                h3 How can I get my videos on Hypermasher?
                p.
                    To see your video on Hypermasher, post a video with the hashtag #[strong #hyperlapse] to your public Instagram account. You can also add the #[strong #hyperlapse] hashtag in a comment to an existing video. 
                p.
                    You will likely see your video on the stream about 15 minutes after you post it. The time varies based on how many other people are posting #[strong #hyperlapse] videos.

                h3 What's the music playing in the background? It's awesome!
                p.
                    The default playlist on Hypermasher features the artist #[a(href="http://tychomusic.com/") Tycho]. Tycho is one of my favorite musicians, and his music's vibe is perfect for watching Hyperlapses.

                h3 Can I watch Hypermasher with my own music?
                p.
                    Yes! Just click the big button on the left side of the screen. Find a link to any track, set, playlist, or artist on #[a(href="https://soundcloud.com/") SoundCloud] and paste it in the text box. 
                p.
                    You will receive a new link that will tell Hypermasher to use your music instead. If you think you found a good mashup, tell me about it on Twitter! I'm #[a(href="https://twitter.com/andrewtorkbaker") @andrewtorkbaker].

                h3 Can I watch Hypermasher fullscreen?
                p.
                    Yes, but unfortunately it only works reliably in Chrome and Firefox.

                h3 Why do some videos have white backgrounds or other weird backgrounds?
                p.
                    Some Instagram users edit their videos after they shoot them to make them appear this way. The white backgrounds help these videos look natural in Instagram's news feeds, but they unfortunately clash with the theater vibe of Hypermasher.

                h3 Will Hypermasher work on my mobile device?
                p.
                    Probably not. Hypermasher relies on relatively new conventions on the web that aren't supported by all devices yet. Furthermore, Apple does not allow videos to automatically play on any of its devices.

                h3 Will Hypermasher work on my Chromecast?
                p.
                    #[strong YES!] I did it often while I was building Hypermasher - highly recommended.

                h3 Andrew, I see you are a software nerd. I, too, am a software nerd. May I inquire about the technical details of your project?
                p.
                    Well met, comrade! I built Hypermasher to help me learn #[a(href="http://nodejs.org/") Node.js] - specifically, I used the #[a(href="http://expressjs.com/") Express framework]. I use #[a(href="http://redis.io/") redis] to store video metadata and cache a couple responses.
                p.
                    Hypermasher consumes the Instagram API and prepares the video metadata on the server. Everything else happens in the user's browser. I found the #[a(href="https://developers.soundcloud.com/") SoundCloud Widget API] particularly versatile and easy to work with. I will definitely consider using it again.
                p.
                    Hypermasher is currently deployed using #[a(href="https://docker.com/") Docker] on a DigitalOcean droplet.
                p.
                    Hypermasher is also open source under the Apache 2.0 license! You can check it out here: #[a(href="https://github.com/atbaker/hypermasher") https://github.com/atbaker/hypermasher].
                p.
                    You can read more about Hypermasher's development and launch reception in my blog post about it: #[a(href="http://andrewtorkbaker.com/hypermasher") http://andrewtorkbaker.com/hypermasher]
