extends layout

block content
        .row.hypermasher-main
            .col-md-8
                p.
                    Unfortunately, your current browser won't work on hypermasher.com. Please visit Hypermasher with a different browser - or #[a(href="https://www.youtube.com/watch?v=oEN_ilJOexg") check out Hypermasher on YouTube].
                p. 
                    Here is a short list of browsers known to work with Hypermasher:
                ul
                    li.
                        Recent versions of #[a(href="https://www.google.com/chrome/browser/") Google Chrome (Mac and Windows)]
                    li.
                        Recent versions of #[a(href="https://www.mozilla.org/en-US/firefox/new/") Firefox (only Windows)]
                    li.
                        Recent versions of #[a(href="http://support.apple.com/downloads/#safari") Safari (only Mac)]
                    li
                        a(href="http://windows.microsoft.com/en-us/internet-explorer/download-ie") Internet Explorer 11.0
