extends layout

block content
        .row.hypermasher-main
            .col-md-4
                p.
                    Unfortunately, your current device won't work on hypermasher.com. Please visit Hypermasher on a desktop or laptop - or #[a(href="https://www.youtube.com/watch?v=oEN_ilJOexg") check out Hypermasher on YouTube].
                p. 
                    Hypermasher is a continuous stream of the latest Hyperlapse videos from Instagram and needs to play videos automatically. You're visiting this site from an iPhone, iPad, or iPod - but Apple does not allow websites to automatically play videos on their devices.
